<mat-card>
    <mat-card-title>Create New User</mat-card-title>
    <mat-card-content>
        <form [formGroup]="addUserForm" (submit)="createUser()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" formControlName="phone">
                </mat-form-field>
            </p>
            <button mat-stroked-button color="primary">Create User</button>
        </form>
    </mat-card-content>
</mat-card>