<mat-card *ngIf="userDetails" class="user-details">
    <mat-card-title>
        {{userDetails.name}}
    </mat-card-title>
    <mat-card-content>
        Email : {{userDetails.email}}<br>
        Username : {{userDetails.username}}<br>
    </mat-card-content>
    <mat-card-content >
        <h4 class="address-content">Address</h4>
        <p>Street : {{userDetails.address.street}}<br>
            City : {{userDetails.address.city}}<br>
            Suite : {{userDetails.address.suite}}<br>
            Zipcode : {{userDetails.address.zipcode}}<br>
        </p>
    </mat-card-content>
</mat-card>