<div *ngIf="dataLoaded">
<mat-card>
    <mat-card-title>Edit User</mat-card-title>
    <mat-card-content>
        <form [formGroup]="editUserForm" (submit)="updateUser()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email Address" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" formControlName="phone">
                </mat-form-field>
            </p>
            <button mat-stroked-button color="primary">Update User</button>
        </form>
    </mat-card-content>
</mat-card>
</div>